.line-1 {
  position: relative;
  font-family: "Sofia";
  top: 50%;
  width: 24em;
  margin: 0 auto;
  border-right: 2px solid rgba(255, 255, 255, 0.75);
  font-size: 180%;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  transform: translateY(-50%);
}

/* Animation */

.anim-typewriter {
  animation: typewriter 4s steps(44) 1s 1 normal both, blinkTextCursor 500ms steps(44) infinite normal;
}

@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 6em;
  }
}

@keyframes blinkTextCursor {
  from {
    border-right-color: rgba(255, 255, 255, 0.75);
  }
  to {
    border-right-color: transparent;
  }
}

@media all and (max-width: 500px) {
  .goals {
    width: 100%;
    margin: auto;
    text-align: center;
    list-style-position: inside;
  }
}

.parent {
  text-align: center;
}

.goals {
  list-style-position: inside;
}

.collab {
  color: red;
  font-family: "Lato";
  font-size: 20px;
}

.work {
  color: darkblue;
  font-family: "lato";
  font-size: 20px;
}

.creative {
  color: purple;
  font-family: "Lato";
  font-size: 20px;
}

.coder {
  color: green;
  font-family: "Lato";
  font-size: 20px;
}

style.production.css .form {
  margin: 0 auto;
  text-align: center;
  justify-content: center;
}

.contact info {
  margin: 0 auto;
  text-align: center;
}

.about-container {
  margin: 0 auto;
  text-align: center;
  justify-content: center;
}

.about-table {
  display: inline-block;
  margin: 0 auto;
  text-align: center;
}

.berlin-illustration {
  width: 100%;
  height: auto;
}

@keyframes color-change {
  from {
    fill: #edc655;
  }
  to {
    fill: #f76414;
  }
}

@keyframes color-change {
  0% {
    fill: #edc655;
  }
  50% {
    fill: #fcffad;
  }
  100% {
    fill: #f76414;
  }
}

.sun {
  animation-duration: 4s;
  animation-name: color-change;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes cloud-move {
  from {
    transform: translate(0, 50px);
  }
  to {
    transform: translate(200px, 50px);
  }
}

.cloud-front {
  animation-duration: 30s;
  animation-name: cloud-move;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes cloud-move-reverse {
  from {
    transform: translate(446px, 48px);
  }
  to {
    transform: translate(100px, 48px);
  }
}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}

a {
  color: undefined;
}

/* no other repetitive values to replace other than color */

body {
  font-family: "Lato", sans-serif;
  overflow-x: hidden;
  font-weight: 400;
  font-size: 16px;
  /* Sets the font size to 16px */
  line-height: 1.6;
  /* Sets the line-height to 1.6 */
  background: linear-gradient(-45deg, red, yellow, orange, blue);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.index-container {
  position: relative;
  min-height: 100vh;
  margin: 25px auto;
  text-align: center;
  justify-content: center;
}

.page-container {
  padding-bottom: 2.5rem;
  /* Footer height */
}

.profile-img {
  display: inline-block;
}

.profile-img img {
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@-webkit-keyframes color-change {
  0% {
    fill: #f6e191;
  }
  50% {
    fill: #f7d34a;
  }
  100% {
    fill: #eebd04;
  }
}

@keyframes color-change {
  0% {
    fill: #f6e191;
  }
  50% {
    fill: #f7d34a;
  }
  100% {
    fill: #eebd04;
  }
}

.layer1 {
  -webkit-animation: 1s color-change infinite alternate linear;
  animation: 1s color-change infinite alternate linear;
}

@-webkit-keyframes color-change-slower {
  0% {
    fill: #33d167;
  }
  50% {
    fill: #079937;
  }
  100% {
    fill: #066c27;
  }
}

@keyframes color-change-slower {
  0% {
    fill: #33d167;
  }
  50% {
    fill: #079937;
  }
  100% {
    fill: #066c27;
  }
}

.layer2 {
  -webkit-animation: 3s color-change-slower infinite alternate linear;
  animation: 3s color-change-slower infinite alternate linear;
}

@-webkit-keyframes color-change-slowest {
  0% {
    fill: #b97dec;
  }
  50% {
    fill: #8b2eda;
  }
  100% {
    fill: #510c8c;
  }
}

@keyframes color-change-slowest {
  0% {
    fill: #b97dec;
  }
  50% {
    fill: #8b2eda;
  }
  100% {
    fill: #510c8c;
  }
}

.layer3 {
  -webkit-animation: 2s color-change-slowest infinite alternate linear;
  animation: 2s color-change-slowest infinite alternate linear;
}

#codeconSkills {
  font-size: 20px;
  height: auto;
}

.codeconSkillbar {
  height: 50px;
  position: relative;
  background: rgba(17, 17, 17, 0.3);
  margin: 20px auto;
}

#codeconHTML {
  width: 70%;
  animation: Animate-HTML 4s;
  -webkit-animation: Animate-HTML 4s;
  -moz-animation: Animate-HTML 4s;
  -o-animation: Animate-HTML 4s;
  height: 50px;
  position: absolute;
  background-color: slateblue;
}

@keyframes Animate-HTML {
  from {
    width: 10px;
  }
  to {
    width: 70%;
  }
}

@-webkit-keyframes Animate-HTML {
  from {
    width: 10px;
  }
  to {
    width: 70%;
  }
}

@-moz-keyframes Animate-HTML {
  from {
    width: 10px;
  }
  to {
    width: 70%;
  }
}

@-o-keyframes Animate-HTML {
  from {
    width: 10px;
  }
  to {
    width: 70%;
  }
}

#codeconCSS {
  width: 60%;
  animation: Animate-HTML 4s;
  -webkit-animation: Animate-HTML 4s;
  -moz-animation: Animate-HTML 4s;
  -o-animation: Animate-HTML 4s;
  height: 50px;
  position: absolute;
  background-color: slategray;
}

@keyframes Animate-HTML {
  from {
    width: 10px;
  }
  to {
    width: 60%;
  }
}

@-webkit-keyframes Animate-HTML {
  from {
    width: 10px;
  }
  to {
    width: 60%;
  }
}

@-moz-keyframes Animate-HTML {
  from {
    width: 10px;
  }
  to {
    width: 60%;
  }
}

@-o-keyframes Animate-HTML {
  from {
    width: 10px;
  }
  to {
    width: 60%;
  }
}

#codeconjs {
  width: 65%;
  animation: Animate-HTML 4s;
  -webkit-animation: Animate-HTML 4s;
  -moz-animation: Animate-HTML 4s;
  -o-animation: Animate-HTML 4s;
  height: 50px;
  position: absolute;
  background-color: darkslateblue;
}

@keyframes Animate-HTML {
  from {
    width: 10px;
  }
  to {
    width: 65%;
  }
}

@-webkit-keyframes Animate-HTML {
  from {
    width: 10px;
  }
  to {
    width: 65%;
  }
}

@-moz-keyframes Animate-HTML {
  from {
    width: 10px;
  }
  to {
    width: 65%;
  }
}

@-o-keyframes Animate-HTML {
  from {
    width: 10px;
  }
  to {
    width: 65%;
  }
}

.profile__portrait {
  float: left;
  width: 250px;
  margin-right: 40px;
}

.page-footer {
  color: black;
  width: 100%;
  padding: 0;
  display: block;
  clear: both;
  height: 40px;
  /* added */
  position: absolute;
  bottom: 0;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}

.chat {
  width: 350px;
  border-radius: 25px;
  overflow: hidden;
}

.API img {
  border-radius: 25px;
}

.Pokedex img {
  border-radius: 25px;
  ;
}

.Quizzes img {
  border-radius: 25px;
  ;
}

.meetup img {
  border-radius: 25px;
  ;
}

.to-do img {
  border-radius: 25px;
  ;
}

@media all and (max-width: 500px) {
  .grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}

@media all and (min-width: 500px) and (max-width: 750px) {
  .grid {
    -ms-grid-columns: 1fr 10px 1fr;
    grid-template-columns: 1fr 1fr;
  }
}

@media all and (max-width: 750px) {
  .grid {
    grid-gap: 10px;
  }
  .grid__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }
  .header {
    font-size: 22px;
    display: center;
  }
}

.profile {
  max-width: 700px;
  margin: 0 auto;
}

h1 {
  font-size: 30px;
  font-weight: 700;
}

a {
  color: #327a6f;
}

a:visited {
  /* visited link */
  color: #05676e;
}

a:hover {
  /* No underlining when hovering over a link */
  text-decoration: none;
}

a:active {
  /* selected link */
  color: #489c79;
}

.button, button {
  /* overwrites browser defaults and resets the border */
  border: none;
  display: inline-block;
  /* takes the font from the outer container */
  font-family: inherit;
  /* styles the button */
  background-color: #357b70;
  color: white;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  /* width of the border, type, color */
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-property: opacity;
  transition-property: opacity;
}

button:hover, button:focus, .button:hover, .button:focus {
  /* lets the mouse appear as a hand when hovering over the button */
  cursor: pointer;
  /* reduces the opacity of the button to 80% */
  opacity: 0.8;
}

.page-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.page-header__item {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 100px;
  flex: 0 1 100px;
  margin-left: 20px;
}

.page-header .page-header__item:last-child {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  text-align: right;
}

.navigation-list {
  list-style-type: none;
}

.navigation-list li {
  display: inline-block;
  margin-left: 15px;
}

.contact-container {
  text-align: center;
  margin: 25px 25px;
}

/* start flexing */

.flex-outer li, .flex-inner {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.flex-outer>li>label, .flex-outer li p {
  flex: 1 0 120px;
  max-width: 220px;
}

.flex-outer>li>label+*, .flex-inner {
  flex: 1 0 220px;
}

.navigation-list__item--active {
  text-decoration: none;
}

.API screenshot {
  display: inline-block;
}

input {
  border-radius: 5px;
}

#message {
  border-radius: 5px;
}
