.line-1 {
  position: relative;
  font-family: "Sofia";
  top: 50%;
  width: 24em;
  margin: 0 auto;
  border-right: 2px solid rgba(255, 255, 255, 0.75);
  font-size: 180%;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  transform: translateY(-50%);
}

/* Animation */

.anim-typewriter {
  animation: typewriter 4s steps(44) 1s 1 normal both, blinkTextCursor 1000ms steps(44) normal;
}

@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 8em;
  }
  
}

@keyframes blinkTextCursor {
  from {
    border-right-color: rgba(255, 255, 255, 0.20);
  }
  to {
    border-right-color: transparent;
  }
  
}

@media all and (max-width: 500px) {
  .goals {
    width: 100%;
    margin: auto;
    text-align: center;
    list-style-position: inside;
  }
}

.parent {
  text-align: center;
}

.goals {
  list-style-type: none;
  /* Remove bullets */
  padding: 0;
  /* Remove padding */
  margin: 0;
  /* Remove margins */
}

.collab {
  color: black;
  animation: collab 10s linear;
  /* Move it (define the animation) */
}

.work {
  color: black;
}

.creative {
  color: black;
}

.coder {
  color: black;
}

style.production.css .form {
  margin: 0 auto;
  text-align: center;
  justify-content: center;
}

.contact info {
  margin: 0 auto;
  text-align: center;
}

.about-container {
  margin: 0 auto;
  text-align: center;
  justify-content: center;
  width: 80%;
}

.about-text {
  width: 80%;
  margin: 0 auto;
}

body {
  background-color: #85b9dd;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

* {
  position: relative;
}

.frame {
  width: 500px;
  height: auto;
  margin: 15% auto 0;
  position: absolute;
  width: 100%;
}

svg {
  max-width: 100%;
  height: auto;
  display: block;
}

/**
 * Paper Plane
 */

/*Paper Plane: Container*/

.plane-container {
  width: 200px;
  margin: 0px auto;
  z-index: 3;
}

/*Paper Plane: Image*/

.plane {
  width: 100%;
  height: 60px;
}

/*Paper Plane: Animation*/

.plane-container {
  -webkit-animation: paper-plane-scoping 2s alternate infinite;
  -moz-animation: paper-plane-scoping 2s alternate infinite;
  animation: paper-plane-scoping 2s alternate infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  animation-timing-function: linear;
}

@-webkit-keyframes paper-plane-scoping {
  0% {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    transform: translateY(0px);
  }
  100% {
    -webkit-transform: translateY(100px);
    -moz-transform: translateY(100px);
    transform: translateY(100px);
  }
}

.plane {
  -webkit-animation-timing-function: ease-in-out;
  -moz-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation: paper-plane-soaring 4s forwards infinite;
  -moz-animation: paper-plane-soaring 4s forwards infinite;
  animation: paper-plane-soaring 4s forwards infinite;
}

@-webkit-keyframes paper-plane-soaring {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  40% {
    -webkit-transform: rotate(15deg);
    -moz-transform: rotate(15deg);
    transform: rotate(15deg);
  }
  50% {
    -webkit-transform: rotate(15deg);
    -moz-transform: rotate(15deg);
    transform: rotate(15deg);
  }
  60% {
    -webkit-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }
  70% {
    -webkit-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

/**
 * Clouds
 */

.clouds {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  transform: translateZ(0);
}

.cloud {
  position: absolute;
  top: 20%;
  width: 300px;
  right: 0;
  opacity: 1;
}

.cloud.front {
  z-index: 9;
}

.cloud.distant {
  z-index: 1;
}

.cloud.background {
  z-index: 1;
}

/*Cloud Sizing*/

.cloud.smaller {
  margin-right: 400px;
  width: 100px;
  margin-top: 50px;
}

.cloud.small {
  margin-right: 200px;
  width: 150px;
}

.cloud.big {
  width: 500px;
  margin-top: 50px;
  margin-right: 150px;
}

.cloud.massive {
  width: 600px;
  margin-top: 20px;
  margin-right: 0px;
}

/*Cloud: Animation*/

.cloud {
  -webkit-animation-name: cloud-movement;
  -webkit-animation-timing-function: linear;
  -webkit-animation-direction: forwards;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 8s;
  -moz-animation-name: cloud-movement;
  -moz-animation-timing-function: linear;
  -moz-animation-direction: forwards;
  -moz-animation-iteration-count: infinite;
  -moz-animation-duration: 8s;
  animation-name: cloud-movement;
  animation-timing-function: linear;
  animation-direction: forwards;
  animation-iteration-count: infinite;
  animation-duration: 8s;
}

.slow {
  -webkit-animation-duration: 9.2s;
  -moz-animation-duration: 9.2s;
  animation-duration: 9.2s;
}

.slower {
  -webkit-animation-duration: 11.2s;
  -moz-animation-duration: 11.2s;
  animation-duration: 11.2s;
}

.slowest {
  -webkit-animation-duration: 13.5s;
  -moz-animation-duration: 13.5s;
  animation-duration: 13.5s;
}

.super-slow {
  -webkit-animation-duration: 20.5s;
  -moz-animation-duration: 20.5s;
  animation-duration: 20.5s;
}

@-webkit-keyframes cloud-movement {
  100% {
    opacity: 0;
    -webkit-transform: translateX(-1000px);
    -moz-transform: translateX(-1000px);
    transform: translateX(-1000px);
  }
}

.index-container {
  position: relative;
  min-height: 100vh;
  margin: 25px auto;
  text-align: center;
  justify-content: center;
}

.page-container {
  padding-bottom: 2.5rem;
  /* Footer height */
}

.profile-img {
  display: inline-block;
}

.profile-img img {
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@-webkit-keyframes color-change {
  0% {
    fill: #f6e191;
  }
  50% {
    fill: #f7d34a;
  }
  100% {
    fill: #eebd04;
  }
}

@keyframes color-change {
  0% {
    fill: #f6e191;
  }
  50% {
    fill: #f7d34a;
  }
  100% {
    fill: #eebd04;
  }
}

.layer1 {
  -webkit-animation: 1s color-change infinite alternate linear;
  animation: 1s color-change infinite alternate linear;
}

@-webkit-keyframes color-change-slower {
  0% {
    fill: #33d167;
  }
  50% {
    fill: #079937;
  }
  100% {
    fill: #066c27;
  }
}

@keyframes color-change-slower {
  0% {
    fill: #33d167;
  }
  50% {
    fill: #079937;
  }
  100% {
    fill: #066c27;
  }
}

.layer2 {
  -webkit-animation: 3s color-change-slower infinite alternate linear;
  animation: 3s color-change-slower infinite alternate linear;
}

@-webkit-keyframes color-change-slowest {
  0% {
    fill: #b97dec;
  }
  50% {
    fill: #8b2eda;
  }
  100% {
    fill: #510c8c;
  }
}

@keyframes color-change-slowest {
  0% {
    fill: #b97dec;
  }
  50% {
    fill: #8b2eda;
  }
  100% {
    fill: #510c8c;
  }
}

.layer3 {
  -webkit-animation: 2s color-change-slowest infinite alternate linear;
  animation: 2s color-change-slowest infinite alternate linear;
}

#codeconSkills {
  font-size: 20px;
  height: auto;
}

.codeconSkillbar {
  width: 90%;
  height: 50px;
  position: relative;
  background: rgba(17, 17, 17, 0.3);
  margin: 20px auto;
}

#codeconHTML {
  width: 75%;
  animation: Animate-HTML 4s;
  -webkit-animation: Animate-HTML 4s;
  -moz-animation: Animate-HTML 4s;
  -o-animation: Animate-HTML 4s;
  height: 50px;
  position: absolute;
  background-color: #ea8564;
}

@keyframes Animate-HTML {
  from {
    width: 10px;
  }
  to {
    width: 75%;
  }
}

@-webkit-keyframes Animate-HTML {
  from {
    width: 10px;
  }
  to {
    width: 75%;
  }
}

@-moz-keyframes Animate-HTML {
  from {
    width: 10px;
  }
  to {
    width: 75%;
  }
}

@-o-keyframes Animate-HTML {
  from {
    width: 10px;
  }
  to {
    width: 75%;
  }
}

#codeconCSS {
  animation: Animate-CSS 5s;
  -webkit-animation: Animate-CSS 5s;
  -moz-animation: Animate-CSS 5s;
  -o-animation: Animate-CSS 5s;
  width: 75%;
  height: 50px;
  position: absolute;
  background-color: #55a69f;
}

@keyframes Animate-CSS {
  from {
    width: 10px;
  }
  to {
    width: 75%;
  }
}

@-webkit-keyframes Animate-CSS {
  from {
    width: 10px;
  }
  to {
    width: 75%;
  }
}

@-moz-keyframes Animate-CSS {
  from {
    width: 10px;
  }
  to {
    width: 75%;
  }
}

@-o-keyframes Animate-CSS {
  from {
    width: 10px;
  }
  to {
    width: 75%;
  }
}

#codeconmongo {
  animation: Animate-jQuery 5s;
  -webkit-animation: Animate-jQuery 5s;
  -moz-animation: Animate-jQuery 5s;
  -o-animation: Animate-jQuery 5s;
  width: 75%;
  height: 50px;
  position: absolute;
  background-color: #99856d;
}

@keyframes Animate-jQuery {
  from {
    width: 10px;
  }
  to {
    width: 75%;
  }
}

@-webkit-keyframes Animate-jQuery {
  from {
    width: 10px;
  }
  to {
    width: 75%;
  }
}

@-moz-keyframes Animate-jQuery {
  from {
    width: 10px;
  }
  to {
    width: 75%;
  }
}

@-o-keyframes Animate-jQuery {
  from {
    width: 10px;
  }
  to {
    width: 75%;
  }
}

#codeconexpress {
  animation: Animate-JS 4s;
  -webkit-animation: Animate-JS 4s;
  -moz-animation: Animate-JS 4s;
  -o-animation: Animate-JS 4s;
  width: 70%;
  height: 50px;
  position: absolute;
  background-color: #c44e45;
}

@keyframes Animate-JS {
  from {
    width: 10px;
  }
  to {
    width: 70%;
  }
}

@-webkit-keyframes Animate-JS {
  from {
    width: 10px;
  }
  to {
    width: 70%;
  }
}

@-moz-keyframes Animate-JS {
  from {
    width: 10px;
  }
  to {
    width: 70%;
  }
}

@-o-keyframes Animate-JS {
  from {
    width: 10px;
  }
  to {
    width: 70%;
  }
}

#codeconreact {
  animation: Animate-XML 4s;
  -webkit-animation: Animate-XML 4s;
  -moz-animation: Animate-XML 4s;
  -o-animation: Animate-XML 4s;
  width: 70%;
  height: 50px;
  position: absolute;
  background-color: #5aa669;
}

@keyframes Animate-XML {
  from {
    width: 10px;
  }
  to {
    width: 70%;
  }
}

@-webkit-keyframes Animate-XML {
  from {
    width: 10px;
  }
  to {
    width: 70%;
  }
}

@-moz-keyframes Animate-XML {
  from {
    width: 10px;
  }
  to {
    width: 70%;
  }
}

@-o-keyframes Animate-XML {
  from {
    width: 10px;
  }
  to {
    width: 70%;
  }
}

#codeconexpress {
  animation: Animate-C 4s;
  -webkit-animation: Animate-C 4s;
  -moz-animation: Animate-C 4s;
  -o-animation: Animate-C 4s;
  width: 70%;
  height: 50px;
  position: absolute;
  background-color: #970cc1;
}

@keyframes Animate-C {
  from {
    width: 10px;
  }
  to {
    width: 70%;
  }
}

@-webkit-keyframes Animate-C {
  from {
    width: 10px;
  }
  to {
    width: 70%;
  }
}

@-moz-keyframes Animate-C {
  from {
    width: 10px;
  }
  to {
    width: 70%;
  }
}

@-o-keyframes Animate-C {
  from {
    width: 10px;
  }
  to {
    width: 70%;
  }
}

#codeconnode {
  animation: Animate-JAVA 4s;
  -webkit-animation: Animate-JAVA 4s;
  -moz-animation: Animate-JAVA 4s;
  -o-animation: Animate-JAVA 4s;
  width: 70%;
  height: 50px;
  position: absolute;
  background-color: #8e930c;
}

@keyframes Animate-JAVA {
  from {
    width: 10px;
  }
  to {
    width: 70%;
  }
}

@-webkit-keyframes Animate-JAVA {
  from {
    width: 10px;
  }
  to {
    width: 70%;
  }
}

@-moz-keyframes Animate-JAVA {
  from {
    width: 10px;
  }
  to {
    width: 70%;
  }
}

@-o-keyframes Animate-JAVA {
  from {
    width: 10px;
  }
  to {
    width: 70%;
  }
}

#codeconangular {
  animation: Animate-PHP 4s;
  -webkit-animation: Animate-PHP 4s;
  -moz-animation: Animate-PHP 4s;
  -o-animation: Animate-PHP 4s;
  width: 70%;
  height: 50px;
  position: absolute;
  background-color: #5a69a6;
}

@keyframes Animate-PHP {
  from {
    width: 10px;
  }
  to {
    width: 70%;
  }
}

@-webkit-keyframes Animate-PHP {
  from {
    width: 10px;
  }
  to {
    width: 70%;
  }
}

@-moz-keyframes Animate-PHP {
  from {
    width: 10px;
  }
  to {
    width: 70%;
  }
}

@-o-keyframes Animate-PHP {
  from {
    width: 10px;
  }
  to {
    width: 70%;
  }
}

#codeconvue {
  animation: Animate-SQL 4s;
  -webkit-animation: Animate-SQL 4s;
  -moz-animation: Animate-SQL 4s;
  -o-animation: Animate-SQL 4s;
  width: 70%;
  height: 50px;
  position: absolute;
  background-color: #23b1db;
}

@keyframes Animate-SQL {
  from {
    width: 10px;
  }
  to {
    width: 70%;
  }
}

@-webkit-keyframes Animate-SQL {
  from {
    width: 10px;
  }
  to {
    width: 70%;
  }
}

@-moz-keyframes Animate-SQL {
  from {
    width: 10px;
  }
  to {
    width: 70%;
  }
}

@-o-keyframes Animate-SQL {
  from {
    width: 10px;
  }
  to {
    width: 70%;
  }
}

#codeconsql {
  animation: Animate-SQL 4s;
  -webkit-animation: Animate-SQL 4s;
  -moz-animation: Animate-SQL 4s;
  -o-animation: Animate-SQL 4s;
  width: 70%;
  height: 50px;
  position: absolute;
  background-color: brown;
}

@keyframes Animate-SQL {
  from {
    width: 10px;
  }
  to {
    width: 70%;
  }
}

@-webkit-keyframes Animate-SQL {
  from {
    width: 10px;
  }
  to {
    width: 70%;
  }
}

@-moz-keyframes Animate-SQL {
  from {
    width: 10px;
  }
  to {
    width: 70%;
  }
}

@-o-keyframes Animate-SQL {
  from {
    width: 10px;
  }
  to {
    width: 70%;
  }
}

.codeconSkillArea {
  z-index: 1;
  float: left; //position: absolute;
  margin-top: 15px;
  margin-left: 15px;
  text-shadow: none;
  color: #fff; //font-family: Lato-Regular, sans-serif;
  font-size: 18px;
}

.PercentText {
  z-index: 3;
  position: relative;
  padding-right: 15px;
  margin-top: 15px;
  float: right;
  text-shadow: none;
  color: #fff; //font-family: Lato-Regular, sans-serif;
  font-size: 18px;
}

.profile__portrait {
  float: left;
  width: 250px;
  margin-right: 40px;
}

.page-footer {
  color: black;
  height: 142px;
}

.section {
  width: 80%;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  text-align: center;
}

.work-images {
  height: 100%;
  width: 100%;
}

.chat {
  border-radius: 25px;
  overflow: hidden;
}

.API img {
  border-radius: 25px;
}

.Pokedex img {
  border-radius: 25px;
}

.Quizzes img {
  border-radius: 25px;
}

.Inbox img {
  border-radius: 25px;
}

.Lottery img {
  border-radius: 25px;
}

.Kickstarter img {
  border-radius: 25px;
}

.meetup img {
  border-radius: 25px;
}

.to-do img {
  border-radius: 25px;
}

@media all and (max-width: 500px) {
  .grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}

@media all and (min-width: 500px) and (max-width: 750px) {
  .grid {
    -ms-grid-columns: 1fr 10px 1fr;
    grid-template-columns: 1fr 1fr;
  }
}

@media all and (max-width: 750px) {
  .grid {
    grid-gap: 10px;
  }
  .grid__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }
  .header {
    font-size: 22px;
    display: center;
  }
}

.profile {
  max-width: 700px;
  margin: 0 auto;
}

h1 {
  font-size: 30px;
  font-weight: 700;
}

a {
  color: #327a6f;
}

a:visited {
  /* visited link */
  color: #05676e;
}

a:hover {
  /* No underlining when hovering over a link */
  text-decoration: none;
  cursor: pointer;
}

a:active {
  /* selected link */
  color: #489c79;
}

.button, button {
  /* overwrites browser defaults and resets the border */
  border: none;
  display: inline-block;
  /* takes the font from the outer container */
  font-family: inherit;
  /* styles the button */
  background-color: #357b70;
  color: white;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  /* width of the border, type, color */
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-property: opacity;
  transition-property: opacity;
}

button:hover, button:focus, .button:hover, .button:focus {
  /* lets the mouse appear as a hand when hovering over the button */
  cursor: pointer;
  /* reduces the opacity of the button to 80% */
  opacity: 0.8;
}

.page-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.page-header__item {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 100px;
  flex: 0 1 100px;
  margin-left: 20px;
}

.page-header .page-header__item:last-child {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  text-align: right;
}

.navigation-list {
  list-style-type: none;
}

.navigation-list li {
  display: inline-block;
  margin-left: 15px;
}

.contact-container {
  text-align: center;
  margin: 25px 25px;
}

/* start flexing */

.flex-outer li, .flex-inner {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.flex-outer>li>label, .flex-outer li p {
  flex: 1 0 120px;
  max-width: 220px;
}

.flex-outer>li>label+*, .flex-inner {
  flex: 1 0 220px;
}

.navigation-list__item--active {
  text-decoration: none;
}

.API screenshot {
  display: inline-block;
}

input {
  border-radius: 5px;
}

#message {
  border-radius: 5px;
}

h2 {
  font-family: fantasy;
}

h1 {
  font-family: fantasy;
}
